<div class="comments">
  <script>
    // Giscus comments integration with theme support
    // ref: https://github.com/giscus/giscus/blob/main/ADVANCED-USAGE.md#parent-to-giscus-message-events
    // ref: https://github.com/utterance/utterances/issues/549#issuecomment-907606127

    (() => {
      function getAppropriateTheme() {
        let theme = document.querySelector("html").dataset.theme;

        if(theme === "dark") {
          theme = "dark";
        } else if(theme === "light") {
          theme = "light";
        } else {
          if(window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
            theme = "dark";
          } else {
            theme = "light";
          }
        }

        return theme;
      }

      function createGiscus() {
        const html = document.querySelector("html");
        const script = document.createElement("script");
        script.src = "https://giscus.app/client.js";
        script.dataset.repo = "somnisomni/somni.log";
        script.dataset.repoId = "R_kgDOQ7Cc0w";
        script.dataset.category = "Post Comments";
        script.dataset.categoryId = "DIC_kwDOQ7Cc084C2N6u";
        script.dataset.mapping = "pathname";
        script.dataset.strict = "0";
        script.dataset.reactionsEnabled = "0";
        script.dataset.emitMetadata = "0";
        script.dataset.inputPosition = "top";
        script.dataset.theme = getAppropriateTheme();
        script.dataset.lang = html.lang || "en";
        script.dataset.loading = "lazy";
        script.setAttribute("crossorigin", "anonymous");
        script.async = true;

        document.querySelector(".comments").appendChild(script);
      }

      function updateGiscusTheme() {
        const giscusFrame = document.querySelector("iframe.giscus-frame");
        if(!giscusFrame) return false;

        const message = {
          giscus: {
            setConfig: {
              theme: getAppropriateTheme(),
            },
          },
        };

        giscusFrame.contentWindow.postMessage(message, "https://giscus.app");

        return true;
      }

      // Create Giscus comments
      createGiscus();

      // Register callback to theme toggle button
      document.getElementById("theme-toggle").addEventListener("click", updateGiscusTheme);
    })();
  </script>
</div>
