:root[data-theme="dark"] {
  --adm-note: #2e8cff;
  --adm-note-rgb: 46, 140, 255;
}

.admonition-content code:not(pre > code) {
  color: var(--code-fg) !important;
}

.admonition-header {
  font-family: var(--font-header);
}

.admonition-header svg {
  margin-right: 0.75em !important;
}
