.footer,
.top-link {
    font-size: 12px;
    color: var(--secondary);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);

    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: 0 auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    padding-left: calc(var(--header-width) + var(--gap));
    text-align: center;
    line-height: 24px;
}

.footer > :first-child {
    text-align: start;
}

.footer > :last-child {
    text-align: end;
}

.footer > * {
    flex-grow: 1;
}

.footer svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer a {
    color: inherit;
    border-bottom: 1px solid var(--secondary);
}

.footer a:has(svg) {
    display: inline-block;
    line-height: 0;
    padding: 4px;
    border-bottom: none !important;
}

.footer a:hover {
    border-bottom: 1px solid var(--primary);
}

.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    background: rgb(from var(--tertiary) r g b / 33%);
    backdrop-filter: blur(var(--radius));
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 64px;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.top-link,
.top-link svg {
    filter: drop-shadow(0px 0px 0px var(--theme));
}

.footer a:hover,
.top-link:hover {
    color: var(--primary);
}

.footer .footer-powered-by {
    white-space: nowrap;
}

.top-link:focus,
#theme-toggle:focus {
    outline: 0;
}
