.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    transition: transform 0.2s cubic-bezier(0.25, 0, 0, 1);
}

.post-entry:hover {
    transform: scale(1.02);
}

.post-entry:active {
    transform: scale(0.98);
}

.tag-entry .entry-cover {
    display: none;
}

.entry-header h2 {
    font-size: 24px;
    line-height: 1.3;
}

.entry-content {
    font-family: var(--font-content);
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-footer .post-tags {
    justify-content: end;
    opacity: 0.75;
    margin-top: 0.5em;
}

.entry-footer .post-tags a {
    pointer-events: none;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-hint {
    color: var(--secondary);
}

.entry-hint-parent {
    display: flex;
    justify-content: space-between;
}

.entry-cover {
    position: relative;
    font-size: 14px;
    margin-bottom: var(--gap);
    height: calc(var(--main-width) * 0.33);
    text-align: center;
    border-radius: var(--radius);
    overflow: hidden;
}

.entry-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.entry-cover a {
    box-shadow: 0 1px 0 var(--primary);
}
