{{/* Supported parameters
     - src: The source path of the image, either absolute or relative.
     - alt: Alt text for accessibility and SEO. Only used as image alt text.
     - title: A title for the image, displayed leftmost in the caption.
     - caption: A caption for the image. displayed after the title. Also used as alt text if alt is not provided.
     - attr: An attribution for the image, displayed after the caption.
     - attrlink: A URL to link the attribution to.
     - link: A URL to link the image to.
     - target: The target attribute for the link, e.g., "_blank" to open in a new tab.
     - rel: The rel attribute for the link, e.g., "noopener" for security
     - width: Specific width for the image. By default it uses the image's intrinsic width.
     - height: Specific height for the image. By default it uses the image's intrinsic height.
     - align: Alignment for the image. "center" is only available value.
     - class: Additional CSS classes to apply to the figure element.
     - original: Don't process the image and use the original source as is if any value is provided (for the convenience, "true" would be enough).
                 The image will still be 'processed' anyway without any transformations, to protect original images to be exposed.
                 GIFs are not processed regardless of this parameter, to preserve their animation.
*/}}

{{- $u := urls.Parse (.Get "src") -}}
{{- $useOriginal := or (.Get "original") (eq site.Params.noImageProcessing true) -}}
{{- $src := $u.String -}}
{{- $src2x := "" -}}
{{- $srcImg := or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
{{- $srcImg2x := "" -}}
{{- if eq $srcImg.MediaType.SubType "gif" -}}
    {{- $useOriginal = true -}}
{{- end -}}
{{- if not $useOriginal -}}
    {{- if gt $srcImg.Width 900 -}}
        {{- $srcImg2x = $srcImg.Process "fit 1800x8192 lanczos webp q85" -}}
    {{- end -}}
    {{- $srcImg = $srcImg.Process "fit 900x4096 lanczos webp q85" -}}
{{- else -}}
    {{- $srcImg = $srcImg.Process "" -}}
{{- end -}}
{{- if not $u.IsAbs -}}
    {{- $src = $srcImg.RelPermalink -}}
    {{- if $srcImg2x -}}
        {{- $src2x = $srcImg2x.RelPermalink -}}
    {{- end -}}
{{- end -}}

<figure {{ if or (.Get "class") (eq (.Get "align") "center") }}
            class="{{- if eq (.Get "align") "center" }} align-center {{- end }}
                   {{- with .Get "class" }} {{ . }} {{- end }}"
        {{ end }}>

    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"
           {{ with .Get "target" }} target="{{ . }}" {{ end }}
           {{ with .Get "rel" }} rel="{{ . }}" {{ end }}>
    {{- end }}

    <img loading="lazy"
         decoding="async"
         src="{{ $src }}{{- if eq (.Get "align") "center" }}#center{{- end }}"
         {{- if and (not $useOriginal) $src2x }} srcset="{{ $src }} 1x, {{ $src2x }} 2x" {{- end -}}
         {{- if or (.Get "alt") (.Get "caption") }}
            alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
         {{- with or (.Get "width") ($srcImg.Width) }} width="{{ . }}" {{ end -}}
         {{- with or (.Get "height") ($srcImg.Height) }} height="{{ . }}" {{ end -}}
    /> <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                {{ . }}
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}

                {{- if or (.Get "caption") (.Get "attr") }}&nbsp;{{ end -}}

                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
