/* Korean / Japanese UI font: Pretendard (https://github.com/orioncactus/pretendard) - SIL OFL v1.1 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@latest/dist/web/variable/pretendardvariable-jp-dynamic-subset.min.css");

/* Header font: Mulish (https://fonts.google.com/specimen/Mulish) - SIL OFL 1.1 */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap");

/* Korean body font: Yoon Daehan (https://font.co.kr/collection/sub?family_idx=10587) - Free Font: All License */
@font-face {
    font-family: "Daehan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Daehan-Regular.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Daehan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Daehan-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

/* Korean monospace font: D2Coding (https://github.com/naver/d2codingfont) - SIL OFL v1.1 */
@font-face {
  font-family: "D2Coding";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("D2Coding"),
       url("../../fonts/D2Coding/D2Coding.woff") format("woff");
}

/* Define font variables */
:root {
  --font-content: "Daehan", "Noto Serif CJK KR", "Noto Serif CJK JP", "Noto Serif KR", "Noto Serif JP", "Noto Serif", serif;
  --font-ui: "Pretendard JP Variable", "Pretendard Variable", sans-serif;
  --font-header: "Mulish", var(--font-ui);
  --font-monospace: "D2Coding", "Noto Sans Mono CJK KR", "Noto Sans Mono CJK JP", "Noto Sans Mono", monospace, sans-serif;
}
