@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 18px;
    }

    /* main */
    .main {
        min-height: calc(100vh - var(--header-width) - var(--footer-height));
        padding-top: calc(var(--header-width) + var(--gap));
        padding-left: var(--gap);
    }

    .post-header + .main {
        padding-top: var(--gap);
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* post-single */
    .post-title {
        font-size: 40px;
    }

    .post-header {
        width: 100%;
        margin-left: 0;
        margin-top: var(--header-width);
    }

    .paginav {
        flex-direction: column;
    }

    .paginav .prev,
    .paginav .next {
        width: 100%;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        flex-direction: column;
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }

    .footer > * {
        text-align: center !important;
    }
}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media screen and (max-width: 340px) {
    .share-buttons {
        justify-content: unset;
    }
}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
